.content {
  overflow: hidden;
}
.content .head .search {
  position: relative;
}
.content .head .search i {
  color: #888;
  font-size: 14px;
}
.content .head .search input {
  cursor: pointer;
  border: 1px solid #ccc;
  width: 250px;
  -webkit-transition: width 0.3s;
  transition: width 0.3s;
}
.content .head .search input:focus {
  outline-color: #ddd;
  width: 550px;
}
.content .head .search input:focus::-webkit-input-placeholder {
  opacity: 0;
}
.content .head .search input:focus::-moz-placeholder {
  opacity: 0;
}
.content .head .search input:focus:-ms-input-placeholder {
  opacity: 0;
}
.content .head .search input:focus::-ms-input-placeholder {
  opacity: 0;
}
.content .head .search input:focus::placeholder {
  opacity: 0;
}
.content .head .btn {
  width: 30px;
  height: 30px;
}
.content .employees {
  border-radius: 10px;
}
.content .employees .nationality,
.content .employees .gender,
.content .employees .marital-status, .content .employees .status {
  position: relative;
}
.content .employees .nationality select,
.content .employees .gender select,
.content .employees .marital-status select, .content .employees .status select {
  background-color: white;
  outline: none;
  /* remove the original arrow */
  -webkit-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
  appearance: none;
}
.content .employees .nationality .fa,
.content .employees .gender .fa,
.content .employees .marital-status .fa, .content .employees .status .fa {
  position: absolute;
  top: 43px;
  left: 15px;
  color: #888;
  pointer-events: none;
}
.content .employees .table-responsive table {
  font-size: 15px;
  border-spacing: 0;
}
.content .employees .table-responsive table thead td {
  font-weight: bold;
}
.content .employees .table-responsive table td {
  padding: 15px;
}
.content .employees .table-responsive table tbody tr:last-child {
  border-right: 1px solid #eee;
  cursor: pointer;
}
.content .employees .table-responsive table tbody tr:hover td {
  background-color: #faf7f7;
}
.content .employees .table-responsive table tbody tr td {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  border-bottom: 1px solid #eee;
  border-left: 1px solid #eee;
}
.content .employees .table-responsive table tbody tr td img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
.content .employees .table-responsive table tbody tr td .status {
  padding: 8px 16px;
  color: white;
  border-radius: 6px;
}
.content .employees .table-responsive table tbody tr td .dropdown-item {
  background-color: transparent;
}
.content .details label {
  width: 100px;
}
.content .details .status span {
  display: inline-block;
  padding: 8px;
  color: white;
  border-radius: 6px;
}
.content .details .image {
  margin-top: 100px;
  margin-left: -40px;
  display: none;
  cursor: pointer;
  width: 50px;
  height: 50px;
}
.content .details .image i {
  font-size: 22px;
}

@media (max-width: 767px) {
  .content .head .search input {
    width: 165px !important;
  }
  .content .head .search input:focus {
    width: 200px !important;
  }
  .content .employees .head-tabe button {
    width: 60px !important;
    padding: 8px;
  }
  .content .employees .head-tabe button span {
    display: none;
  }
}
@media (max-width: 991px) {
  .content .head .search input {
    width: 165px;
  }
  .content .head .search input:focus {
    width: 400px;
  }
}