$font-family: "IBM Plex Sans", sans-serif;

* {
  box-sizing: border-box;
  list-style: none;
}
a {
  text-decoration: none;
}
body {
  margin: 0;
  font-family: $font-family;
}
// start page
.page {
  background-color: #f1f5f9;
  min-height: 100vh;
}
// end page
::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-track {
  background-color: white;
}
::-webkit-scrollbar-thumb {
  background-color: #49a887;
  border-radius: 10px;
}

@import "../breakPoint.scss";
// ######################################
// start sidebar
.sidebar {
  position: relative;
  box-shadow: 0 0 10px #ddd;

  .images {
    > img {
      width: 60px;
      margin-bottom: 50px;
    }
  }

  ul {
    > li {
      font-size: 14px;
      > .active {
        background-color: #f6f6f6;
        font-size: 14px;
        border-radius: 6px;
      }

      a {
        transition: 0.3s;
        &:hover {
          background-color: #f6f6f6;
          border-radius: 6px;
        }

        span {
          font-size: 14px;
        }
      }
    }
  }
}
@media (max-width: $mdx) {
  .sidebar {
    padding: 10px !important;

    .images {
      > img {
        width: 40px !important;
        margin-bottom: 50px;
      }
    }
    ul {
      a {
        justify-content: center;
        span {
          display: none !important;
        }
      }
    }
  }
}
@media (max-width: $lgx) {
  .sidebar {
    ul {
      a {
        span {
          font-size: 13px !important;
        }
      }
    }
  }
}
// end sidebar
// start content
.content {
  overflow: hidden;
  // start head
  .head {
    .search {
      position: relative;
      i {
        position: absolute;
        top: 50%;
        right: 15px;
        transform: translateY(-50%);
        color: #888;
        font-size: 14px;
      }
      input {
        border: 1px solid #ccc;
        width: 250px;
        transition: width 0.3s;
        &:focus {
          outline-color: #ddd;
          width: 550px;
          &::placeholder {
            opacity: 0;
          }
        }
      }
    }
    .icons {
      .notification {
        position: relative;
        &::before {
          content: "";
          position: absolute;
          width: 10px;
          height: 10px;
          background-color: red;
          border-radius: 50%;
          right: -5px;
          top: -2px;
        }
      }
      img {
        width: 32px;
        height: 32px;
      }
    }
  }
  // end head
  // #####################################
  // start employees table
  .employees {
    border-radius: 10px;
 
    .responsive-table {
      overflow-x: auto;

      table {
        font-size: 15px;
        min-width: 1000px;
        border-spacing: 0;
        thead td {
          font-weight: bold;
        }
        td {
          padding: 20px;
        }
        tbody {
          tr {
            &:last-child {
              border-right: 1px solid #eee;
            }
            &:hover {
              td {
                background-color: #faf7f7;
              }
            }
            td {
              transition: 0.3s;
              border-bottom: 1px solid #eee;
              border-left: 1px solid #eee;

              label {
                padding: 8px;
                background-color: green;
                color: white;
                border-radius: 6px;
              }
              .shift {
                background-color: #eee;
                border-right: 6px solid #49a887;
                color: black;
              }
              .close {
                background-color: #eee;
                border-right: 6px solid #d35630;
              }
            }
          }
        }
      }
    }
  }
  // end employees table
}
@media (max-width: $mdx) {
  .content {
    .head {
      .search {
        input {
          width: 165px !important;
          &:focus {
            width: 200px !important;
          }
        }
      }
    }
    .employees {
      .head-tabe {
        button {
          width: 60px !important;
          padding: 8px;
          span {
            display: none;
          }
        }
      }
    }
  }
}
@media (max-width: $lgx) {
  .content {
    .head {
      .search {
        input {
          width: 165px;
          &:focus {
            width: 400px;
          }
        }
      }
    }
  }
}
// end content
// start h1

// end h1
